<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'tasks')}">

<body>

	<h2>Task</h2>
	<form th:object="${task}" class="form-horizontal" id="add-task-form" method="post">
		<div class="form-group has-feedback">
			<input th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />

			<input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />

			<div class="form-group">
				<label class="col-sm-2 control-label">Status</label>
				<div class="col-sm-10">

					<select class="form-select" th:field="*{status}">
						<option value="">Select Task Status</option>
						<option th:each="item : ${T(nz.co.solnet.TaskStatus).values()}" th:value="${item}"
							th:text="${item}"></option>
					</select>
					<span class="fa fa-remove form-control-feedback" aria-hidden="true"
						th:if="${#fields.hasErrors('status')}"></span>
					<span class="help-inline" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
				</div>
			</div>

			<input th:replace="~{fragments/inputField :: input ('Due date', 'dueDate', 'date')}" />
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button th:with="text=${task['new']} ? 'Add Task' : 'Update Task'" class="btn btn-primary" type="submit"
					th:text="${text}">Add Task
				</button>
			</div>
		</div>
	</form>
</body>

</html>