<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
	<link rel="stylesheet" th:href="@{/resources/css/markdown.css}" />
	<title>Java Coding Challenge</title>
</head>

<body>

	<div id="contents" class="markdown-body">

		<h1 data-line="0" class="code-line-0">Java Coding Challenge - Task Management API Suite</h1>

		<br />
		<p>The application uses an in-memory (H2) database which gets populated with data on startup. The database
			is available via the <a href="http://localhost:8080/h2-console/">h2 console</a>, where it is possible to
			view database table
			using the <i>jdbc:h2:mem:testdb</i> JDBC URL.
			<br />
			<br />

		<h2>Functionality</h2>
		<p>You can achieve the following actions:</p>
		<ul>
			<li><b>Fetch all tasks</b> - Select <b>Find Tasks</b> on the home screen then <b>Fetch all Tasks</b>.
				If the API returns a single task the details of this task will be displayed.
				If no tasks are returned the application remains on the <b>Find Tasks</b> page.
			</li>
			<li><b>Fetch all overdue tasks</b> - Select <b>Find Tasks</b> on the home screen then <b>Fetch overdue</b>.
				If the API returns a single task the details of this task will be displayed.
				If no tasks are returned the application remains on the <b>Find Tasks</b> page.
			</li>
			<li><b>Fetch data for a single task</b> - First select <b>all</b> or <b> all overdue</b> tasks then click
				a Task's link under the Title column.</li>
			<li><b>Add a new task</b> - Select <b>Find Tasks</b> on the home screen then <b>Add Task</b> to enter the
				Task's details. Any validation errors will be displayed when attempting to add a task. 
			</li>
			<li><b>Modify a task</b> - First fetch data for a <b>single task</b> then select <b>Edit Task</b>.
				Any validation errors will be displayed when attempting to modify the task. 
			</li>
			<li><b>Delete a task</b> - First fetch data for a <b>single task</b> then select <b>Delete Task</b>.</li>
		</ul>
	</div>

</body>

</html>